https://panel.the-river-styx.com:443 { # 443 is for HTTPS
  tls {$EMAIL} {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy pterodactyl-panel:80 # pterodactyl-panel is the docker container, this gets the port from inside the container (so i think i didn't have to publish any ports in docker-compose but idk lol)
}

https://docker.the-river-styx.com:443 { # 443 is for HTTPS
  tls {$EMAIL} {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy {
    to https://portainer:9443
    transport http {
            tls
            tls_insecure_skip_verify
            read_buffer 8192
    }
  }
}

https://node.the-river-styx.com:443 {
  tls {$EMAIL} {
    dns cloudflare {env.CF_API_TOKEN}
  }
  header {
    Access-Control-Allow-Origin "*" # i had some CORS errors, I have no clue if this fixed it
  }
  reverse_proxy pterodactyl-wings:443 {
    header_down -Access-Control-Allow-Origin
  }
} 

https://map.the-river-styx.com:443 { # 443 is for HTTPS
  tls {$EMAIL} {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy bluemap-nginx-1:80
}

https://muse-api.the-river-styx.com:443 { # 443 is for HTTPS
  tls {$EMAIL} {
    dns cloudflare {env.CF_API_TOKEN}
  }
  reverse_proxy muse-muse-1:3000
}
